@import '../../global.scss';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 90px;
  padding-top: 200px;
  z-index: 1;
  h1 {
    color: white;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    @include mobile {
      font-size: 32px;
    }
  }
  .blind {
    touch-action: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -10;
    pointer-events: none;
  }
}
